$color-text: #011f40
$color-bg: #d3e2f8
$color-base: #e5f0fd
$color-light: #fdffff
$color-dark: #aabad2
$color-shadow: 10px 10px 50px $color-dark, -10px -10px 50px $color-light
$color-shadow-inv: -10px -10px 50px $color-dark, 10px 10px 50px $color-light

$about-selected: linear-gradient(0deg, #57eaff ,#18a3d6 5%, rgba(24,163,214,0.01) 20%)