$color-text: #011f40
$color-bg: #bce1d5
$color-light: #d8fff5
$color-dark: #a0bfb5
$color-active: #b6d7cc
$color-shadow: 10px 10px 50px $color-dark, -10px -10px 50px $color-light
$color-shadow-inv: -10px -10px 50px $color-dark, #a0bfb5 10px 10px 50px $color-light